* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.row {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

h2 {
    font-size: 20px;
    margin: 0;
}

/* NAV */

#nav {
    height: 200px;
    position: relative;
    background-color: rgb(33, 33, 33);
}

.nav__row {
    width: 100%;
    max-width: 2000px;
    height: 100%;
}

.nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
}

.nav__img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 24px;
    margin-right: 48px;
    z-index: 1;
}

.nav__link {
    height: 20px;
    margin: 0 16px;
    text-decoration: underline solid transparent;
    font-size: 16px;
    color: white;
    font-weight: 700;
    transition: 800ms all ease;
}

.nav__link:hover {
    text-decoration: underline solid 2px;
}

.nav__logo {
    width: 100px;
    z-index: 1;
}

.nav__logo--image {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    border: 3px solid black;
}

.nav__search--wrapper {
    position: absolute;
    top: 15%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.nav__search {
    width: 500px;
    height: 32px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding-left: 16px;
    z-index: 1;
}

.nav__search--bar {
    position: relative;
}

.nav__search--button {
    border-radius: 24px;
    width: 70px;
    height: 70%;
    background-color: rgb(127, 5, 151);
    position: absolute;
    top:14%;
    right: 2%;
}

.nav__search--button:hover {
    scale: 1.2;
    transition: all 300ms ease;
}

/* Landing */

#landing {
    height: 100%;
    width: 100%;
    padding-bottom: 24px;
    position: relative;
    background-color: rgb(33, 33, 33);
}

 .landing__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.dropdown {
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.dropdown__btn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: purple;
}

.dropdown:hover .dropdown__content {
    visibility: visible;
}

.dropdown__content {
    visibility: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.dropdown__item {
    margin: 8px;
    border: none;
    cursor: pointer;
}

.landing__border {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 64px;
    height: 100%;
}

.border {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    height: 500px;
}

.landing__figure {
    margin: 8px;
}

.landing__img {
    height: 350px;
}

.landing__title {
    color: white;
}

.landing__year {
    color: white;
}

/* FOOTER */

footer {
    background-color: rgb(74, 2, 89);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.footer__copyright {
    color: white;
    margin: 18px 24px;
}

.footer__logo {
    scale: .7;
    margin: 18px 24px;
}

.nav__links {
    margin: 18px 24px;
}

/* LANDING OVERLAY */

.landing__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: rgb(33, 33, 33);
}

.landing__overlay--message {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: white;
}

.landing__overlay--para {
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.landing__overlay--image {
    width: 100%;
}

.landing__overlay--figure {
    width: 700px;
}

.landing__overlay--decoration-1 {
    position: absolute;
    top: 40%;
    left: 90%;
    width: 100px;
}

.landing__overlay--decoration-2 {
    position: absolute;
    top: 20%;
    right: 90%;
    width: 100px;
}

.landing__overlay--decoration-img {
    width: 100%;
    animation: animate-image 1200ms infinite;
}

@keyframes animate-image {
    0% {
        rotate: -30deg;
    }
    50% {
        rotate: 30deg;
    }
    100% {
        rotate: -30deg;
    }
}

.no-display {
    display: none;
}

.top__page {
    z-index: 10 !important;
    display: block !important;
}

.display {
    display: block;
}

/* Media */

@media (max-width: 1200px){
    .landing__overlay--decoration-1 {
        left: 80%;
    }

    .landing__overlay--decoration-2 {
        right: 80%;
    }

    .landing__overlay--figure {
        width: 500px;
    }
}

@media (max-width: 1020px){
    .landing__overlay--message {
        font-size: 24px;
    }

    .landing__overlay--para {
        font-size: 18px;
    }

    .nav__link {
        font-size: 14px;
    }

    .footer__copyright {
        font-size: 14px;
    }

    .footer__logo {
        scale: .5;
    }
}

@media (max-width:768px){
    .landing__overlay--message {
        font-size: 18px;
    }

    .landing__overlay--para {
        font-size: 14px;
    }

    .landing__overlay--decoration-1 {
        width: 50px;
        top: 50%;
    }

    .landing__overlay--decoration-2 {
       width: 50px;
       top: 30%;
    }

    .nav__search {
        width: 300px;
    }
    
    .nav__logo--image {
        scale: .7;
    }

    .border {
        width: calc(100%/2);
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:480px) {
    .nav__search {
        width: 100px;
    }

    .nav__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__logo--image {
        scale: .5;
    }

    .nav__search--title {
        font-size: 24px;
    }

    .border {
        width: 100%;
        align-items: center;
    }

    .landing__overlay--decoration-1 {
        width: 50px;
        top: 30%;
        left: 70%;
    }

    .landing__overlay--decoration-2 {
       width: 50px;
       top: 20%;
       right: 70%;
    }
}